#navigation {
  box-shadow: $box-shadow;
  background-color: #5c5757;
  margin-bottom: 10vh;
  ul {
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration: none;
  }
  li {
    display: inline-block;
    padding: 20px;
  }
  a {
    text-decoration: none;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  a:active {
    color: white;
  }
}
