#form-container {
  position: relative;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $box-shadow;
}

#form-title {
  width: 70vw;
  height: 10vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: none;
  color: $form-font-colour;
  text-align: center;
  font-size: 18px;
  background-color: $form-colour;
}

#form-content {
  width: 65vw;
  height: 35vh;
  border: none;
  color: $form-font-colour;
  font-size: 18px;
  padding-top: 5vh;
  padding-left: 5vw;
  background-color: $form-colour;
}

#form-button {
  height: 10vh;
  width: 20vw;
  border: none;
  font-size: 18px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: white;
  background-color: #f3989b;
}

#form-button:hover {
  cursor: pointer;
}
